@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
.container{
    max-width: 1000px;
    margin: 0 auto;

}
.yt-holder{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56%;
    border: 1px solid rgba(216, 219, 217, 0.877);

}
.yt-holder > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
body{
    background-color: rgb(17,24,39);
}
p{
    color: white;
}
/*
body{
     background-color: rgb(17,24,39); 
}
 a{
    background-color: rgb(38, 117, 207);
    align-items: center;
    justify-content: center;
    color: rgb(233, 233, 233);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Croissant One', cursive;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5%;
    padding: 10px;
    margin: 19px;
    gap: 20px;
} */
.space{
    width: 100%;
    height: 12px;
    margin-bottom: 10px;
}
#h3{
    color: white;
    font-family: 'Croissant One', cursive;
    font-size: 44px;
    text-align: center;
    align-items: center;
}